{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <div class="card column shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Active Tasks by Priority</h5>
          <div class="badge badge-danger" style="font-size: 2em">
            {{ first_priority }}
          </div>
          <div class="badge badge-warning text-white ml-2" style="font-size: 2em">
            {{ second_priority }}
          </div>
          <div class="badge badge-primary ml-2" style="font-size: 2em">
            {{ third_priority }}
          </div>
          <div class="badge badge-light ml-2" style="font-size: 2em">
            {{ fourth_priority }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}